<a href="https://colab.research.google.com/github/gmazzitelli/studenti/blob/master/stat_url2panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
# open CVS URL to panda from URL
# https://population.un.org/wpp/Download/Standard/CSV/ Work Population DB
# 
url_csv_file ="https://population.un.org/wpp/Download/Files/1_Indicators%20(Standard)/CSV_FILES/WPP2019_TotalPopulationBySex.csv"
df = pd.read_csv(url_csv_file)
df.tail()

        LocID  Location  VarID  ...  PopFemale   PopTotal  PopDensity
280927    716  Zimbabwe    207  ...  11255.983  21836.893      56.448
280928    716  Zimbabwe    207  ...  11050.875  21355.988      55.205
280929    716  Zimbabwe    207  ...  10767.709  20689.956      53.483
280930    716  Zimbabwe    207  ...  10412.184  19892.080      51.421
280931    716  Zimbabwe    207  ...   9996.105  19061.177      49.273

[5 rows x 10 columns]

In [2]:
# google KEY spreadshit to Panda
key="1y_-enSemurgHiUxLH-Qak3O72Wj9cR0yp4UMEv_VtdA"
url_csv_file = "https://docs.google.com/spreadsheet/ccc?key="+key+"&output=csv"
df = pd.read_csv(url_csv_file)
df.tail()

               Timestamp  ...  Commenti e suggerimenti:
236  2017-02-03 15:14:54  ...                       NaN
237  2017-02-03 11:47:30  ...                       NaN
238  2017-02-03 11:44:00  ...                       NaN
239  2017-01-23 17:18:19  ...                       NaN
240  2017-01-20 11:37:40  ...                       NaN

[5 rows x 14 columns]

In [3]:
# open XML URL to Pand
# fonte Open data http://www.datiopen.it/ sito di aggregazione --> Scarica --> ottine URL 
def xml2df(xml_data):
    import xml.etree.ElementTree as ET
    import pandas as pd
    root = ET.XML(xml_data) # element tree
    all_records = []
    for i, child in enumerate(root):
        record = {}
        for subchild in child:
            record[subchild.tag] = subchild.text
        all_records.append(record)
    df = pd.DataFrame(all_records)
    return df

import requests
url_xml_file ='http://www.user-agents.org/allagents.xml'
xml_data = requests.get(url_xml_file).content
#xml_data = open('file.xml').read()
df = xml2df(xml_data)
df.tail()

                   ID  ...                 Link2
2454  id_t_z_160110_1  ...  http://www.zscho.de/
2455  id_t_z_280306_1  ...                  None
2456      id_t_z_1551  ...                  None
2457  id_new_190610_1  ...                  None
2458  id_new_190610_2  ...                  None

[5 rows x 7 columns]

In [6]:
# Json URL to Panda
# fonte Open data http://www.datiopen.it/ 
# dati Istat
# sito ministero https://www.dati.gov.it/content/sviluppatori 
# documentazione https://dkan.readthedocs.io/en/latest/apis/ckan-dataset.html
# 
json_data ="http://www.dati.gov.it/api/3/action/package_list"
df = pd.read_json(json_data)
df.tail()

                                                    help  ...                                             result
27973  Return a list of the names of the site's datas...  ...          occupazione-lavoratori-disabili-anno-2018
27974  Return a list of the names of the site's datas...  ...                     indicatori-economici-anno-2018
27975  Return a list of the names of the site's datas...  ...         occupazione-lavoratori-stranieri-anno-2018
27976  Return a list of the names of the site's datas...  ...                    cessazioni-dal-lavoro-anno-2018
27977  Return a list of the names of the site's datas...  ...  provincia-monza-brianza-piano-delle-alienazion...

[5 rows x 3 columns]

In [7]:
what = 'occupazione-lavoratori-stranieri-anno-2018'
json_data ="http://www.dati.gov.it/api/3/action/package_show?id="+what
df = pd.read_json(json_data)
df.tail()

                                                                 help  ...                                             result
revision_timestamp  Return the metadata of a dataset (package) and...  ...                          2020-04-24T03:10:06+02:00
state               Return the metadata of a dataset (package) and...  ...                                             Active
tags                Return the metadata of a dataset (package) and...  ...  [{'id': '3580880f-b832-43c5-9ed7-6642579c7b41'...
title               Return the metadata of a dataset (package) and...  ...         Occupazione lavoratori stranieri anno 2018
type                Return the metadata of a dataset (package) and...  ...                                            Dataset

[5 rows x 3 columns]